<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BNB Split!</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/index.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.0/theme-chalk/index.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/Chart.js/2.9.4/Chart.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue-chartjs/3.5.1/vue-chartjs.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/web3/1.3.0/web3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.1/bignumber.min.js"></script>
  <script src="TestConfig.js" type="text/javascript"></script>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header>
        <h1>BNB Split!</h1>
      </el-header>
      <el-container>
        <el-aside width="60%">
          <el-row>
            <el-col :span="22" :offset="1">
              <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="name" label="Name"></el-table-column>
                <el-table-column prop="amount" label="Amount"></el-table-column>
                <el-table-column prop="txGas" label="TxGas"></el-table-column>
                <el-table-column prop="diff" label="Diff"></el-table-column>
                <el-table-column label="Switch">
                  <template slot-scope="scope">
                    <el-switch v-model="scope.row.selected" @input="dexSwitched(scope.row)"></el-switch>
                  </template>
                </el-table-column>
              </el-table>
            </el-col>
          </el-row>
        </el-aside>
        <el-main>
          <el-card class="box-card">
            <el-row>
              <line-chart :chart-data="chartdata"></line-chart>
            </el-row>
            <el-row style="margin-top: 10px;">
              <el-col :span="22" :offset="1">
                <el-form label-position="top">
                  <el-form-item label="Pay">
                    <el-row :gutter="10">
                      <el-col :span="16">
                        <el-input-number v-model="formData.pay"  :controls="false"></el-input>
                      </el-col>
                      <el-col :span="8">
                        <el-select v-model="formData.fromCoin">
                          <el-option v-for="item in coinList1" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                      </el-col>
                    </el-row>
                  </el-form-item>
                  <el-form-item label="Receive">
                    <el-row :gutter="10">
                      <el-col :span="16">
                        <el-input v-model="formData.receive" :readonly="true" class="readonly-number-input"></el-input>
                      </el-col>
                      <el-col :span="8">
                        <el-select v-model="formData.toCoin">
                          <el-option v-for="item in coinList2" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                      </el-col>
                    </el-row>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="connectWallet" v-if="web3 == null">Connect to Wallet</el-button>
                    <el-button type="primary" @click="swapT" v-else>Swap</el-button>
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
          </el-card>
        </el-main>
      </el-container>
      <el-footer>BNB Split! 2020</el-footer>
    </el-container>
  </div>
  <script>
	
	var FlagMap = new Map();
	FlagMap.set("burgerSwap",0x01+0x02+0x04);FlagMap.set("bakerySwap",0x08+0x10);FlagMap.set("cheeseSwap",0x20+0x40);
	FlagMap.set("bscSwap",0x80+0x100);FlagMap.set("pancakeswap",0x200+0x400);
	var disable_all = 0x01+0x02+0x04+0x08+0x10+0x20+0x40+0x80+0x100+0x200+0x400;
	var tens = BigInt('1000000000000000000');
    var Web_Query = new Web3(new Web3.providers.HttpProvider(HttpP));
    var Contract_Query =  new Web_Query.eth.Contract(ABI_MainContract,Address_MainContract);

  </script>
  
  <script>
    Vue.component('line-chart', {
      extends: VueChartJs.Line,
      mixins: [ VueChartJs.mixins.reactiveProp ],
      props: ['options'],
      mounted: function () {
        this.renderChart(this.chartData, this.options)
      }
    })
    var app = new Vue({
      el: '#app',
      data: {
        web3: null,
        errs: [],
		distribution: null,	
        formData: {
          pay: '5',
          receive: '',
          fromCoin: 'BUSD',
          toCoin: 'WBNB'
        },
		coinList1: [
          { label: "WBNB", value: "WBNB" },
		  { label: "BUSD", value: "BUSD" },
        ],
        coinList2: [
          { label: "WBNB", value: "WBNB" },
          { label: "BSWAP", value: "BSWAP" },
		  { label: "BUSD", value: "BUSD" },
		  { label: "BTCB", value: "BTCB" },
		  { label: "ETH", value: "ETH" }
        ],
        tableData: [
          {
            name: 'pancakeswap',
            amount: "No available",
            txGas: 0.2333,
            diff: 1.0,
            selected: false
          },
		  {
            name: 'burgerSwap',
            amount: "No available",
            txGas: 0.2333,
            diff: 1.0,
            selected: false
          },
		  {
            name: 'bakerySwap',
            amount: "No available",
            txGas: 0.2333,
            diff: 1.0,
            selected: true
          },
		  {
            name: 'bscSwap',
            amount: "No available",
            txGas: 0.2333,
            diff: 1.0,
            selected: true
          },
		  {
            name: 'cheeseSwap',
            amount: "No available",
            txGas: 0.2333,
            diff: 1.0,
            selected: false
          }
        ],
        chartdata: {
          labels: [10, 20],
          datasets: [
            {
              label: 'Data One',
              data: [1, 2]
            },
            {
              label: 'Data Two',
              data: [3, 4]
            }
          ]
        }
      },
      methods: {
		QueryAll: function(){
			var t = this.tableData;
			var val = this.formData;
			var amountIn = BigInt(val.pay)*tens;
			<!-- Contract_Query.methods.getExpectedReturn(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),1,disable_all-FlagMap.get(t[0].name)).call().then(res => { -->
							<!-- t[0].amount =  new BigNumber(res[0]).div(tens).toString(); -->
					<!-- }) -->
			<!-- Contract_Query.methods.getExpectedReturn(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),1,disable_all-FlagMap.get(t[1].name)).call().then(res => { -->
								<!-- t[1].amount =  new BigNumber(res[0]).div(tens).toString(); -->
					<!-- }) -->
			Contract_Query.methods.getExpectedReturn(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),1,disable_all-FlagMap.get(t[2].name)).call().then(res => {		
								t[2].amount =  new BigNumber(res[0]).div(tens).toString();
					})
			Contract_Query.methods.getExpectedReturn(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),1,disable_all-FlagMap.get(t[3].name)).call().then(res => {		     
								t[3].amount =  new BigNumber(res[0]).div(tens).toString();
								distribution = res[1];
					})
			<!-- Contract_Query.methods.getExpectedReturn(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),1,disable_all-FlagMap.get(t[4].name)).call().then(res => { -->
								<!-- t[4].amount =  new BigNumber(res[0]).div(tens).toString(); -->
					<!-- }) -->
		},
		QueryBest: function(){
			var flag = disable_all;	
			var val = this.formData;
			var amountIn = BigInt(val.pay)*tens;
			
			for(var num = 0;num<5;num++)	if(this.tableData[num].selected == true )	flag = flag - FlagMap.get(this.tableData[num].name);
			Contract_Query.methods.getExpectedReturn(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),10,flag).call().then(res => {
								//distribution = res[1];
								val.receive =  new BigNumber(res[0]).div(tens).toString();
					})
		},
        dexSwitched: function (row) {
			this.QueryBest();
        },
        formDataChange: function () {
			this.QueryAll();
			this.QueryBest();
        },
        connectWallet: function () {
          console.log('to wallet!')
          if (window.ethereum) {
		  
            w3 = new Web3(window.ethereum)
            window.ethereum
              .request({ method: 'eth_requestAccounts' })
              .then(() => { this.web3 = w3 })
			
			 
          } else {
            alert('Wallet is not available!')
          }
        },
		swapT: function(){
			var val = this.formData;
			var amountIn = BigInt(val.pay)*tens;
			var TABI = window['ABI_'+val.fromCoin];
			Swap_Main = new app.web3.eth.Contract(ABI_MainContract, Address_MainContract);
			Contract_Tokens = new app.web3.eth.Contract(TABI, Address_Tokens.get(val.fromCoin));
			Contract_Tokens.methods.approve(Address_MainContract,amountIn).send({from:ethereum.selectedAddress});
			Swap_Main.methods.swap(Address_Tokens.get(val.fromCoin),Address_Tokens.get(val.toCoin),amountIn.toString(),0,distribution,disable_all-FlagMap.get(this.tableData[3].name)).send({from:ethereum.selectedAddress})
                .then(ret => { console.log('result', ret) })
                .catch(err => { console.log('error', err.receipt) })
		},
      },
	  watch:{
		formData:{
			handler(){
				this.formDataChange();
			},
			deep: true,
			immediate: false
		}
		
	  }
    })
  </script>
  

   
  <style>
    .el-header {
      margin-bottom: 20px;
    }
    .el-footer {
      text-align: center;
      margin-top: 20px;
    }
    .el-input-number {
      width: 100%;
    }
    .readonly-number-input > input {
      text-align: center;
    }
  </style>
</body>
</html>
